<!-- Voy a renderizar la tabla si esta tiene datos -->
<!-- Si el array personas es diferente a 0, entonces que renderice -->
<div>
  <div class="card-container">
    <div class="containerimg-card">
      <div class="img-card">
        <img src="<%= productoBuscado.thumbnail %>" alt="imageproduct" class="img-card" />
      </div>
    </div>

    <div class="detailcontainer-card">
      <div class="title-card"><%= productoBuscado.title %></div>
      <div class="price-card">$ <%= productoBuscado.price %></div>
      <div class="description-card">Descripción</div>

      <!-- <ItemCount finishing={onAdd}></ItemCount> -->
      <!-- <BtnHidden> -->
      <!-- <button
        className={classes.oculto}
        hidden={!show.hidden}
        id="button-finishing"
        variant="outlined"
      > -->
      <a href="/carrito" class="btn btn-success">Comprar</a>

        <!-- <SwipeableTemporaryDrawer></SwipeableTemporaryDrawer> -->
      <!-- </button> -->
    <!-- </BtnHidden> -->
    </div>
  </div>
</div>
